.list-imgs{
    display: flex;

}

.image-block{
    display: block;
    height: 125px;
    width: 125px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.image-block img{
    height: 123px;
    width: 123px;
    border-radius: 10px;
}
.image-input{
    position: absolute;
}